workflows/calendar-add-event.v1.json
{
  "name": "Google Calendar - Add Event",
  "nodes": [
    {
      "id": "WebhookIn",
      "name": "Webhook In (Alfred)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-520, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "alfred-calendar-add-event",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "CreateEvent",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [-240, 0],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      },
      "parameters": {
        "operation": "create",
        "calendar": {"__rl": true, "value": "primary", "mode": "list"},
        "additionalFields": {
          "start": "={{$json.start}}",
          "end": "={{$json.end}}",
          "description": "={{$json.description}}"
        },
        "simple": true,
        "start": "={{$json.start}}",
        "end": "={{$json.end}}",
        "summary": "={{$json.summary}}"
      }
    },
    {
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [40, 0],
      "parameters": {
        "responseBody": "={\"success\": true, \"summary\": $json.summary, \"start\": $json.start, \"end\": $json.end}"
      }
    }
  ],
  "connections": {
    "Webhook In (Alfred)": {
      "main": [
        [
          {"node": "Create Event", "type": "main", "index": 0}
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {"node": "Respond", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "calendar-add-event-v1"
}
