workflows/gmail-archive-old-noise.v1.json
{"updatedAt":"2026-01-30T13:26:28.871Z","createdAt":"2026-01-30T06:12:31.474Z","id":"23Pj38P8oGZyHqjrzLQPw","name":"Gmail - Archive Old Noise","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3640aec5-4291-4c66-ad90-2449d480d00a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,432]},{"parameters":{"resource":"message","operation":"getAll","returnAll":true,"additionalFields":{"format":"minimal","q":"in:inbox older_than:90d category:promotions"}},"id":"7cab373c-514c-4469-9149-1c04429d9c7a","name":"List Messages","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[-16,432],"credentials":{"gmailOAuth2":{"id":"dgATfsbNG2Qy4NFU","name":"Gmail account"}}},{"parameters":{"conditions":{"number":[{"value1":"={{$json[\"_count\"] || $items().length}}","operation":"larger"}]}},"id":"64f31227-08e8-4086-b2e7-5ba51a7ed2ae","name":"Any Messages?","type":"n8n-nodes-base.if","typeVersion":1,"position":[256,432]},{"parameters":{"resource":"message","operation":"update"},"id":"bdfd7531-343e-4a2f-be2b-ddc5be4aeb09","name":"Archive Messages","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[560,304],"credentials":{"gmailOAuth2":{"id":"dgATfsbNG2Qy4NFU","name":"Gmail account"}}},{"parameters":{"functionCode":"const count = items.length;\nreturn [{ json: { archivedMessages: count } }];"},"id":"2c853fc1-1c26-4a47-b5d4-9d99fb0b96c2","name":"Summary","type":"n8n-nodes-base.function","typeVersion":1,"position":[560,512]}],"connections":{"Manual Trigger":{"main":[[{"node":"List Messages","type":"main","index":0}]]},"List Messages":{"main":[[{"node":"Any Messages?","type":"main","index":0}]]},"Any Messages?":{"main":[[{"node":"Archive Messages","type":"main","index":0}],[{"node":"Summary","type":"main","index":0}]]},"Archive Messages":{"main":[[{"node":"Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69d72f92-453a-4f2f-8259-a9d15082a655","activeVersionId":null,"versionCounter":29,"triggerCount":0,"shared":[{"updatedAt":"2026-01-30T06:12:31.474Z","createdAt":"2026-01-30T06:12:31.474Z","role":"workflow:owner","workflowId":"23Pj38P8oGZyHqjrzLQPw","projectId":"U6dM77adhP7ziSxl","project":{"updatedAt":"2025-12-24T19:24:52.382Z","createdAt":"2025-12-24T19:16:56.509Z","id":"U6dM77adhP7ziSxl","name":"Doug Brammer <dougbram@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d8ef01c5-0ce0-4758-a5c4-d5f97d8e6ed9","projectRelations":[{"updatedAt":"2025-12-24T19:16:56.509Z","createdAt":"2025-12-24T19:16:56.509Z","userId":"d8ef01c5-0ce0-4758-a5c4-d5f97d8e6ed9","projectId":"U6dM77adhP7ziSxl","user":{"updatedAt":"2026-01-30T09:17:20.755Z","createdAt":"2025-12-24T19:16:54.648Z","id":"d8ef01c5-0ce0-4758-a5c4-d5f97d8e6ed9","email":"dougbram@gmail.com","firstName":"Doug","lastName":"Brammer","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-24T19:25:06.155Z","personalization_survey_n8n_version":"2.1.4"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"hZwdpBaKSM8KuwzA","userActivatedAt":1766961026028,"npsSurvey":{"responded":true,"lastShownAt":1767713784149}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-29","isPending":false}}]}}],"tags":[],"activeVersion":null}